
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto+Slab:wght@100;300;700&display=swap');

*{
  padding: 0;
  margin:0;
  font-family: 'Roboto Slab', serif;
}

body{
  background-image: url(../assets/images/pattern_cross-section_0.5_2_0-0_0_1__ffffff_00000069.png);
  background-size:inherit;
  /* justify-content: center; */
}

.containerPost{
  
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.801);
  width: 90%; 
}

.buttonPost{
  padding: .5em ;
  border-radius: 1px;
  font-weight: 400;
}

.rowPostIt{
  display:flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

#posts{
  width: 300px;
}


.options{
  display: flex;
  gap: 10px;
}

.postit{
  background-color: rgb(237, 235, 145);
  box-shadow: 3px rgba(0, 0, 0, 0.589);
  width: 300px;
  height: 300px;
  padding: 2em;
  margin: 3em;
  
}

.txtPostIt{
  font-family:'Amatic SC', sans-serif ;
  font-size: 1.5em;
}
svg{
  cursor: pointer;
}

.txtBold{
  text-align: center;
  font-weight:bold;
}

